@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@source "../app/**/*.tsx";
@source "../components/**/*.tsx";
@source "../contexts/**/*.tsx";

@theme {
  --color-primary: #2E7D32;
  --color-secondary: #FFB300;
  --color-background: #F5F5F5;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
}
